body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  /* vars */
  --primaryColor: #fffaf8;
  --primaryColor2: #dddddd;
  --seconderyColor: #7c001bd9;
  --backgrouindColor: rgb(0, 0, 0);
  --pageWidth: 880px;
  --pageWidth2: 350px;
  --animation: Fade 1s linear forwards;
}

/* background position */
section {
  color: var(--primaryColor);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: rgb(0, 0, 0);
  z-index: -2;
}

canvas {
  animation: var(--animation);
  animation-delay: 0s;
  opacity: 0;
}

/* main container */
.QuoteBox {
  padding: 0;
  width: calc(100vw - 2rem);
  max-width: var(--pageWidth);
  background: var(--seconderyColor);
  transition: 1s;
  animation: var(--animation);
  animation-delay: 0.5s;
  opacity: 0;
}
/* quote */
#text {
  font-weight: 400;
  margin: 20px;
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 0px;
  line-height: 100%;
  animation: var(--animation);
  transition: 1s;
}
#author {
  margin-top: 20px;
  font-style: italic;
  position: relative;
  left: 300px;
  font-size: 1.6rem;
  animation: var(--animation);
}
.icon {
  font-size: 3rem;
  animation: var(--animation);
}
/* logo */
.logo {
  display: flex;
  align-items: center;
  width: var(--pageWidth);
  font-size: 56px;
  letter-spacing: -7.7px;
  z-index: 2;
  animation: var(--animation);
  animation-delay: 0.5s;
  opacity: 0;
}

.logo h1 {
  animation: var(--animation);
  transition: 1s;
  color: var(--primaryColor2);
  margin: 70px 0px;
  transform: scale(1, 2.5);
}

/* buttons/links */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.links {
  position: relative;
  bottom: 5px;
  left: -350px;
  animation: Fade 1s;
}
.btn {
  margin: 50px 0 -10px 0;
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
  background: var(--primaryColor2);
  color: var(--seconderyColor);
  border: var(--primaryColor2);
  cursor: pointer;
  transition: 0.3s;
  animation: var(--animation);
  font-family: 'Titillium Web', sans-serif;
}
#tweet-quote {
  font-size: 3rem;
  color: var(--primaryColor2);
  transition: 0.3s;
}

.footer a {
  color: var(--primaryColor);
  text-decoration: none;
  transition: 0.3s;
}
.footer {
  animation: var(--animation);
  animation-delay: 0.5s;
  opacity: 0;
}

/* hover */
#tweet-quote:hover {
  color: var(--primaryColor);
}
.footer a:hover {
  color: var(--primaryColor2);
}
.btn:hover {
  background-color: var(--primaryColor);
}

/* animations */

@keyframes Fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes FadeBackwords {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* madia quarrys */

@media screen and (max-width: 700px) {
  .logo {
    text-align: center;
    width: calc(100vw - 2rem);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 30px;
    text-align: center;
  }
  .logo h1 {
    margin: 43px 0px;
    transform: scale(1, 1.5);
  }
  /* quote */
  #text {
    font-size: 1.3rem;
  }
  #author {
    left: 0px;
    font-size: 1rem;
  }
  .icon {
    font-size: 2rem;
  }

  /* buttons/links */

  .links {
    position: relative;
    bottom: 0px;
    left: 0px;
    text-align: center;
  }
  .btn {
    margin: 0;
    font-size: 1.2rem;
  }
  #tweet-quote {
    position: relative;
    top: 4px;
  }
}
